<p id="notice"><%= notice %></p>



<p>
  <b>Event:</b>
  <%= @comment.event.Name%>
</p>
<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
 

<p>
  <b>Barrio:</b>
  <%= @comment.barrio.barrio %>
</p>



<p>
  <b>User:</b>
  <%= @comment.user.name %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) ,class: 'button'%> |
<%= link_to 'Back', homes_path ,class: 'button'%>
