<div class="row">
   <div class="large-2 columns">

      <ul class="side-nav">
        <h3>Barrios</h3> 
        <li><%= link_to 'New Barrio', new_barrio_path %></li>
        <li><%= link_to 'List of barrios', barrios_path %></li>
         <li class="divider"> </li>
         <h3>Users</h3> 
        <li><%= link_to 'List of Users', users_path %></li>
        <li class="divider"> </li>
         <h3>Events</h3> 
          <li ><%= link_to 'New event', new_event_path %></li>
          <li><%= link_to 'list of events', events_path %> </li>
         <li class="divider"> </li>
          <h3>Alerts</h3>
          <li><%= link_to 'new alerts', new_alert_path %></li>
          <li><%= link_to 'list of alerts', alerts_path %></li> 
      </ul>  
    </div> 
    <div class="large-9 -offset-1 columns">
          <h1>Listing users</h1>

          <%= link_to 'New User', new_user_path, class:'button'%>

          <table>
            <tr>
              <th>Name</th>
              <th>Lastname</th>
              <th>Barrio</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.lastname %></td>
              <td><%= user.barrio.barrio %></td>
              <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </table>
    </div>
  </div>  



