<h2>Event</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.Name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.Description %>
</p>


<p>
  <b>Place:</b>
  <%= @event.Place %>
</p>

<p>
  <b>User:</b>
  <%= @event.user.name %>
</p>

<p>
  <b>Barrio:</b>
  <%= @event.barrio.barrio %>
</p>

<p>
  <b>Date:</b>
  <%= @event.Date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.Time.strftime("%H: %M") %>
</p>
<h2>Comments</h2>

<% @event.comments.each do |c| %>

    <blockquote>
              
        <cite><b><%=h c.user.name %> said:</b><br /> <%=h c.comment%>  - <em> <%= time_ago_in_words(c.created_at) %> ago</em></cite>

      </blockquote>
  
    
 
  
<% end %>



<%= form_for([@event, @event.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment , :size => "5x5"%>
  </div>
   <div class="field">

    <%= f.hidden_field :user_id,value: current_user.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :barrio_id,value: current_user.barrio_id %>
    </div>
 <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>


<%= link_to 'Edit', edit_event_path(@event),class: 'button' %> |
<%= link_to 'Back', homes_path ,class: 'button' %>

