<h1>Listing barrios</h1>
<%= link_to 'New Barrio', new_barrio_path, class:'button' %>
<table>
  <tr>
    <th>Barrio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @barrios.each do |barrio| %>
  <tr>
    <td><%= barrio.barrio %></td>
    <td><%= link_to 'Show', barrio %></td>
    <td><%= link_to 'Edit', edit_barrio_path(barrio) %></td>
    <td><%= link_to 'Destroy', barrio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


